body ,h1 ,ul,ol,h2,p ,figure{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: outside none none;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	height: 70px;
	background-color: #333;
    /*
    filter:alpha(opacity=50);  css背景透明的三种方法
    -moz-opacity:0.5;  
    opacity: 0.5;
    */  
}
body ,h1 ,ul{
	margin: 0;
	padding: 0;
}
body{
	font-family: "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
ul{
	list-style: outside none none;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	min-width: 1280px;
	height: 70px;
	background-color: #333;
    /*
    filter:alpha(opacity=50);  css背景透明的三种方法
    -moz-opacity:0.5;  
    opacity: 0.5;
    */  
}
#header >.center{
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}
#header .logo{
	width: 240px;
	height: 70px;
	background-image: url(img/logo.png);
	background-size: cover;
	text-indent: -999px;
	float: left;
}
#header .link{
	width: 605px;
	height: 70px;
	color: #eee;
	line-height: 70px;
	float: right;
}
#header .link li{
	width: 120px;
	text-align: center;
	float: left;
}
#header .link a{
	color: #EEEEEE;
	display: block;
}
#header .link a:hover,
#header .active a{
	background-color: #000;
}
#footer{
	height: 360px;
	background-color:#222 ;
	clear:both;
}
#footer .top{
	height: 281px;
	margin: 0 auto;
	text-align: center;
}
#footer .left{
	width: 410px;
	height: 280px;
	display: inline-block;
	text-align: left;
}
#footer .left h2{
	color: #ccc;
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0 0 20px;
}
#footer .left hr{
	width: 88%;
	border: 1px dashed #333;
}
#footer ul{
	font-size: 18px;
	color: #777;
	text-indent: 20px;
	line-height: 2;
}
#footer .center h2{
	color: #ccc;
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0 0 20px;
}
#footer .center hr{
	width: 88%;
	border: 1px dashed #333;
}
#footer .center{
	width: 410px;
	height: 280px;
    display: inline-block;
    	text-align: left;
    vertical-align: top;

}
#footer .right h2{
	color: #ccc;
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0 0 20px;
}
#footer .right{
	width: 410px;
	height: 280px;
    display: inline-block;
    	text-align: left;
    vertical-align: top;

}
#footer .right hr{
	width: 88%;
	border: 1px dashed #333;
}
#footer .bottom{
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #777;
	background-color: #000;
	border-top: 1px solid #444;
}
